# General UID/GID and Timezone
TZ=America/New_York
PUID=1000
PGID=1000

# Input your VPN provider and type here
VPN_SERVICE_PROVIDER=airvpn
VPN_TYPE=wireguard

# Mandatory, airvpn forwarded port
FIREWALL_VPN_INPUT_PORTS=

# Copy all these variables from your generated configuration file
WIREGUARD_PUBLIC_KEY=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_PRESHARED_KEY=
WIREGUARD_ADDRESSES=

# Optional location variables, comma separated list, no spaces after commas, make sure it matches the config you created
SERVER_COUNTRIES=Netherlands
SERVER_CITIES=Alblasserdam

# Health check duration
HEALTH_VPN_DURATION_INITIAL=120s
